@import './variables';

.title {
    font-family: $font-title;
    font-weight: $font-weight-title;
    font-size: $font-size-title;
}

.subtitle {
    font-family: $font-subtitle;
    font-size: $font-size-subtitle;
    font-weight: $font-weight-subtitle;
    color: $color-subtitle; 
    line-height: $line-height-subtitle;
}

.p {
    font-family: $font-p;
    font-size: $font-size-p;
    color: $color-p;
    line-height: $line-height-p; // Corrige el error tipográfico
}
