
$font-title: 'Roboto Slab', serif;
$font-subtitle: 'Roboto', sans-serif;
$font-p: 'Roboto', sans-serif;

$font-size-title: 42px;
$font-size-subtitle: 19px;
$font-size-p: 18px;

$font-weight-title: bold;
$font-weight-subtitle: regular;
$font-weight-p: 400;

$line-height-title: 55px;
$line-height-subtitle: 19px;
$line-height-p: 30px;

$color-title: black;
$color-subtitle: white;
$color-p:black;