
<header class="navbar">
    <a href="https://adalab.es/" class="menu-btn" target="_blank">
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
    </a>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1 class="title"> Anonymous proxy </h1>
      <p class="subtitle">In hac habitasse platea dictumst.</p>
      <button class="circle-btn">
        <img src="./images/ico-scroll-down.svg" alt="ico-scroll-down" class="scroll-icon">
      </button>
    </div>
  </section>