@import 'core/_reset.scss';
@import 'core/typography';
@import 'core/variables';
@import 'core/layout';

.hero {
    height: 100vh;
    background-image: url('../images/cover.jpeg');
    background-size: cover;
    
  

}
