@import 'core/_reset.scss';
@import 'core/variables';
@import 'core/typography';


.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;

    .menu-btn {
        background-color: #0271bc;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 30px;
        border-bottom: 5px;
        padding: 8px;
    }

    .menu-line {
        width: 80%;
        height: 2px;
        background-color: #ffffff;
        border-radius: 1px;
    }
}

.hero {
    height: 100vh;
    background-image: url('../images/cover.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100vh;
    text-align: center;
    margin-top: 300px;

}

.title {
    font-family: $font-title;
    font-size: $font-size-title;
    font-weight: $font-weight-title;
    color: $color-title;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0 auto;
    line-height: 55px;
}

.subtitle {
    font-family: $font-subtitle;
    font-size: $font-size-subtitle;
    font-weight: $font-weight-subtitle;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    line-height: 19px;

}

.scroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.circle-btn {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
}

.scroll-icon {
    width: 15px;
    height: auto;
}